* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.world {
    width: 100%;
    height: 40vh;
    position: relative;
    overflow: hidden;
}

.ground {
    --ground-left: 0;
    position: absolute;
    left: calc(var(--ground-left) * 1%);
    bottom: 0;
    width: 300%;
}

.dino {
    --dino-bottom: 0;
    position: absolute;
    left: 3%;
    bottom: calc(var(--dino-bottom) * 1%);
    height: 12vmin;
}

.cactus {
    --cactus-left: 100;
    position: absolute;
    left: calc(var(--cactus-left) * 1%);
    bottom: 0;
    height: 12vmin;
}

.title, .score, .high-score {
    position: absolute;
    font-size: 5vmin;
}

.title {
    left: 50%; 
    transform: translateX(-50%);
    font-weight: 500;
}

.score {
    right: 3%;
}

.high-score {
    right: 3%;
    top: 2rem;
}

.hide {
    display: none;
}